<style>
* { margin: 0; padding: 0; }
a { text-decoration: none; }
html, body { height: 100%; }
body {  }


.wrap { position: relative; width: 100%; min-width: 100px; margin: 0 auto; height: 100%; overflow: hidden; }
.wrap-bg { background: #cebe29;
background: gradient(linear,left top,right bottom,color-stop(0%,#cebe29),color-stop(33%,#9b1f50),color-stop(71%,#2989d8),color-stop(91%,#89b4ff));
background: -webkit-linear-gradient(-45deg,#cebe29 0,#9b1f50 33%,#2989d8 71%,#89b4ff 91%);
-webkit-background-size: 100% 100%; }

.progress-bar { position: absolute; left: 0; bottom: 0; display: block; width: 100%; height: 3px; z-index: 1; background: rgba(17, 171, 72, 0); }

.shade-fff { height: 100%; background: rgba(255, 255, 255, 0.1) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAEAQMAAACTPww9AAAABlBMVEUAAAAAAAClZ7nPAAAAAnRSTlMAGovxNEIAAAAQSURBVAjXY2hgEGBQYHAAAAR4APGA2fwfAAAAAElFTkSuQmCC); }

.content { text-align: center; font-family: "Microsoft Simsun"; height: 100%; color: #222; text-shadow: 0 0 2px rgba(187, 187, 187, 0.9); }
.content a { color: #222; }
.trans-ul { display: block; height: 100%; }
.trans-ul li { display: table; height: 100%; float: left; }
.trans-ul li > div { display: table-cell; width: 100%; vertical-align: middle; }
.trans-ul li > * { line-height: 48px; font-size: 50px; }
.trans-ul li code { line-height: 24px; font-size: 18px; text-shadow: initial; text-align: left; background: rgba(255, 255, 255, 0.24); display: block; width: 80%; margin: 0 auto; padding-left: 8px; display: none; }
.trans-ul li h2 { line-height: 66px; }
.trans-ul li h3 { line-height: 62px; }
.trans-ul li h4 { line-height: 58px; }
.trans-ul li h5 { line-height: 54px; }
.trans-ul li h6 { line-height: 50px; }
.trans-ul li img { width: 80%; }

@media screen and (max-width: 600px) {
	.trans-ul li > * {
		font-size: 20px;
		line-height: 20px;
	}
	.trans-ul li code { line-height: 24px; font-size: 18px; text-shadow: initial; text-align: left; display: block; }
	.trans-ul li h2 { line-height: 32px; }
	.trans-ul li h3 { line-height: 30px; }
	.trans-ul li h4 { line-height: 28px; }
	.trans-ul li h5 { line-height: 26px; }
	.trans-ul li h6 { line-height: 24px; }
	.trans-ul li img { width: 100%; }
}
</style>		
<script src="/common/js/socket.io.js"></script>
<script type="text/javascript" src="/common/js/loading.js"></script>
		<div class="wrap wrap-bg">
			<progress class="progress-bar" value="10" max="100"></progress>
			<div class="shade-fff">
				<div class="content" id="JS_preview">
					<textarea id="JS_textInput">
## 如何在项目中缩短项目周期（前端）
```
这次的主题是：如何在项目中缩短项目周期， 当然，用我们前端的角度来缩短项目周期还是会有些不全面；  
至于为什么要说的这个话题，当然是为了前端更方便一点工作；  
然后，想要知道怎么缩短项目周期，首先就要了解一个项目周期流程到底是怎么样的
```
------------------------------------
需求 －> 产品 －> 设计 -> 后端 -> 前端 -> 测试 －> 上线
------------------------------------
前端眼中的项目周期：
![项目流程图](/common/img/process.png)
```
需求方提出需求；  
产品评估其价值是否可行，通过的话，开始设计原型，反过来更需求方确定原型；  
双线：提到设计这边，设计最后跟产品，需求方确定设计稿；  
双线：提交到后端做接口开发
产品拿到设计稿，要交付设计稿到前端，前端开始开发
前端根据设计稿进行排版，套入接口进行调试，最后输出页面
提交测试，进行改bug后，上线；
接下来说说前端在项目周期中的位置
设计： 加个某个按钮
后端：调试接口
产品： 设计缺陷，流程少了东西，或者某个功能暂时不做取消
```
-------------------------------
设计： 设计稿加了东西或者少了东西
后端： 接口调试
-------------------------------
产品： 细节不明白，某个功能不能做取消...   
需求方： 文案，地址...加个东西  
测试： 改改改
````
产品： 更新需求文档，项目群里面通知所有相关人员哪里有变更，主要测试
需求： 我们前端是希望能够有稳定的需求，不要在测试阶段频繁改动
测试： 公司有个测试系统，发现bug时最好先筛选一下，属于优化的东西就先不要一条条发出来，整理成一个文档一次性过；  
非优化的东西就可以直接提交到测试系统过来，有严重影响测试的bug直接跑过来找我们前端解决也是可以。
````
-------------------------------
不要在开发完后改bug  
而是尽量在开发中就避免这些bug的出现
````
如果我们在减少问题的出现，那么就可以缩短很多的测试时间
````
-------------------------------

在开发思维中融入开发测试思维

-------------------------------

![测试用例](/common/img/test01.png) 

````
细节性多，覆盖广，简单的按钮，开发过程是没办法按照这个测试用例来做的，这只是适用于开发完成后测试用，不适合开发过程中
````

-------------------------------
需要更符合开发中的测试用例来完善开发思维

-------------------------------
![测试用例](/common/img/test.png)

````
开发中，你心里要先想着你哪些东西是冒泡，哪些东西又是关键，哪些又要异常处理，甚至哪些还需要优化处理；
冒泡是防止应用程序挂掉而测试
````
-------------------------------
开发中的测试用例转为开发思维，脱离用例，减少问题的出现，从而减少测试时间
-------------------------------
结束，谢谢大家
					</textarea>
				</div>
			</div>
		</div>
<script>
	window.progress = "";
	window.onload = function() {
        setTimeout(function() {
            ld();
        }, 0);
    }
    var ws = io.connect(window.location.origin + "/ppt");
    function ld() {
        window.Loading.style.display = "none";

        loadDate();
        $(window).on("resize", function() {
            setWH();
        });

        $("body").on("keyup", function(e) {
            var direction = e.keyCode == 37 ? "right" :
                e.keyCode == 38 ? "up" :
                e.keyCode == 39 ? "left" :
                e.keyCode == 40 ? "down" : "";
            trans(direction);
            ws.emit("send", direction);
        });

        

        //var ws = io.connect(window.location.origin);
        ws.on("get", function(type) {
        	console.log(type);
            trans(type);
        });
    }
    function loadDate() {
        var arrText = $("#JS_textInput").val().split(/[-]{5,100}/);
        var li = '';
        for (var i = 0; i < arrText.length; i++) {
            li += '<li><div class="">' + markdown.toHTML(arrText[i]) + '</div></li>';
        }
        $("#JS_preview").html('<ul class="trans-ul" data-index="0">' + li + '</ul>');
        $("a").attr("target", "_blank");
        setWH();
    }
    function setWH() {
        var $li = $(".trans-ul li");
        $(".trans-ul").width($li.length * 100 + "%");
        $(".trans-ul li").width($("#JS_preview").width());
        $(".progress-bar").attr("max", $li.length * 100);
        $(".progress-bar").val((parseInt($(".trans-ul").attr("data-index"), 10) + 1) * 100);
    }
    function trans(direction) {
        var ind = $(".trans-ul").attr("data-index");
        var width = $("#JS_preview").width();
        //console.log( direction );
        switch (direction) {
            case "right":
                ind--;
                ind = ind <= -1 ? 0 : ind;
                $(".trans-ul").css({
                    "transition": "0.5s",
                    "transform": "translate3d(" + (-ind * width) + "px,0,0)"
                })
                    .attr("data-index", ind);
                transProgress();
                break;
            case "left":
                ind++;
                ind = ind >= $(".trans-ul li").length - 1 ? $(".trans-ul li").length - 1 : ind;
                $(".trans-ul").css({
                    "transition": "0.5s",
                    "transform": "translate3d(" + (-ind * width) + "px,0,0)"
                })
                    .attr("data-index", ind);
                transProgress();
                break;
            case "up":
                break;
            case "down":
                break;
            default:
                break;
        }
    }
    function transProgress() {
        var now = parseInt($(".trans-ul").attr("data-index"), 10) + 1;
        var val = parseInt($(".progress-bar").val(), 10);
        var cha = 0;
        clearInterval(window.progress);
        if (val < now * 100) {
            cha = now * 100 - val;
            window.progress = setInterval(function() {
                val += (cha / 7);
                if (val < now * 100) {
                    $(".progress-bar").val(val);
                } else {
                    $(".progress-bar").val(now * 100);
                    clearInterval(window.progress);
                }
            }, 49);
        } else if (val > now * 100) {
            cha = val - now * 100;
            window.progress = setInterval(function() {
                val -= (cha / 7);
                if (val > now * 100) {
                    $(".progress-bar").val(val);
                } else {
                    $(".progress-bar").val(now * 100);
                    clearInterval(window.progress);
                }
            }, 49);
        }
    }

    document.querySelector("body").addEventListener("touchstart", function(e){
		this.s = e.touches[0].clientX;
	}, false);
	document.querySelector("body").addEventListener("touchmove", function(e){
		this.e = e.touches[0].clientX;
		e.preventDefault();
	}, false);
	document.querySelector("body").addEventListener("touchend", function(e){
		var type = this.e - this.s > 0 ? "right": "left";
		ws.emit("send", type);
		trans(type);
		e.preventDefault();
	}, false);
</script>
<script type="text/javascript" src="http://7u2of8.com1.z0.glb.clouddn.com/common/js/markdown.js"></script>
		</div>
