<!doctype html>
<html>
	<head>
		<%- include('ejs/head_meta.html')%>
		<title>title</title>
		<%- include('ejs/head_script.html')%>
		<script type="text/javascript">
			var socketDomain = "<%= socket%>";
		</script>
	</head>
	<body>
		<%- include('ejs/body_header.html')%>
		<section class="section">
	        <%- include('ejs/body_aside.html')%>
	        <div class="wrap"><%-body%></div>
	    </section>
	    <%- include('ejs/body_footer.html')%>
	</body>
</html>