<header class="header theme-bg">
    <div class="header-box white theme-hov-clr theme-clr cls">
        <ul class="header-function cls">       
            <li><a href="/">首页</a></li>       
            <li><a href="/">网站首页</a></li>      
        </ul>      
        <ul class="header-user cls">       
            <li><a href="javascript:void(0);" id="JS_username"></a></li>       
            <li><a href="javascript:void(0);"></a></li>       
            <li><a href="#"></a></li>     
        </ul>
    </div>
</header>