<style type="text/css">
body.contraction-container {
	height: 100%;
	overflow: hidden;
	-webkit-overflow-scrolling: auto;
}
.personal-info-container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding-bottom: 20px;
	width: 100%;
	z-index: 999999;
	background-color: #efefef;
	-webkit-transition: all 0.3s;
	-webkit-transform: translate3d(100%, 0, 0);
	font-size: 16px;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}
	.personal-info-container.active {
		-webkit-transform: inherit;
	}
	.personal-info-title {
		width: 84%;
		margin: 0 auto;
		padding: 20px 0 10px;
		font-size: 1em;
		line-height: 20px;
		font-family: "Microsoft YaHei";
		color: #42474a;
	}
	.personal-info-list {
		width: 87%;
		margin: 0 auto;
	}
	.personal-info-list li {
		width: 100%;
		height: 44px;
		line-height: 44px;
		margin-top: 12px;
		font-size: 1em;
	}
	.personal-info-list li span {
		float: left;
		width: 90px;
		height: 100%;
		color: #b3b3b3;
	}
	.personal-info-list li span i {
		padding-left: 7px;
	}
	.personal-info-list li blockquote {
		padding-left: 90px;
		height: 100%;
	}
	.personal-info-list li blockquote input {
		display: block;
		border: 0;
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
		-webkit-border-radius: 6px;
		border-radius: 6px;
		-webkit-text-indent: 10px;
		text-indent: 10px;
	}
	.personal-info-list li blockquote select {
		float: left;
		border: 0;
		margin: 0;
		padding: 0;
		width: 48%;
		height: 100%;
		-webkit-border-radius: 6px;
		border-radius: 6px;
		-webkit-text-indent: 10px;
		text-indent: 10px;
	}
	.personal-info-list li blockquote select:first-child {
		margin-right: 4%;
	}
	.personal-info-btn {
		display: block;
		width: 87%;
		margin: 20px auto 0;
		padding: 0;
		border: 0;
		-webkit-border-radius: 6px;
		border-radius: 6px;
		font-size: 1em;
		color: #fff;
		text-align: center;
		line-height: 44px;
		background-color: #ff4078;
	}
	.personal-info-btn-return {
		background-color: #909090;
	}
</style>
<div class="personal-info-container active">
	<div class="personal-info-title">请正确填写你的个人资料,活动结束后会有客服与你联系~</div>
	<ul class="personal-info-list">
		<li>
			<span>姓　　名:</span>
			<blockquote>
				<input type="text" value="" name="realname" />
			</blockquote>
		</li>
		<li>
			<span>手机号码:</span>
			<blockquote>
				<input type="text" value="" name="mobile" />
			</blockquote>
		</li>
		<li>
			<span>地区信息:</span>
			<blockquote>
				<select name="province">
					<option value="">省</option>
				</select>
				<select name="city">
					<option value="">市</option>
				</select>
			</blockquote>
		</li>
		<li>
			<span>详细地址:</span>
			<blockquote>
				<input type="text" value="" name="address" />
			</blockquote>
		</li>
		<li>
			<span>邮　　编:</span>
			<blockquote>
				<input type="text" value="" name="zipcode" />
			</blockquote>
		</li>
		<li>
			<span>Q　　 Q:</span>
			<blockquote>
				<input type="text" value="" name="qq" />
			</blockquote>
		</li>
		<li>
			<span>微<i></i>信<i></i>号:</span>
			<blockquote>
				<input type="text" value="" name="weixinhao" />
			</blockquote>
		</li>
		<li>
			<span>备用播种:</span>
			<blockquote>
				<input type="text" value="" name="backupfield1" />
			</blockquote>
		</li>
		<li>
			<span>备用论坛:</span>
			<blockquote>
				<input type="text" value="" name="backupfield2" />
			</blockquote>
		</li>
		<li>
			<span>备用活动:</span>
			<blockquote>
				<input type="text" value="" name="backupfield3" />
			</blockquote>
		</li>
	</ul>
	<button type="button" class="personal-info-btn">提交</button>
	<button type="button" class="personal-info-btn personal-info-btn-return">返回</button>
</div>