
<script src='/common/js/socket.io.js'></script>
<style>
	html, body {
		height: 100%;
	}
	section {
		height: 100%;
	}
	.wechat-container {

	}
	.qrcode {
		display: block;
		margin: 0 auto;
	}
	.wechat-info {
		font-size: 20px;
		break-wrap: break-word;
		break-word: break-all;
	}
</style>
<div class='wechat-container'>
	<div class="hint">扫描完后将会在此页面获取授权code</div>
	<img class='qrcode' src='' alt=''>
	<p class='wechat-info' id='JS_params'></p>
</div>
<script src='/common/js/jquery.min.js'></script>
<script>
	// 获取url参数
	function getParam(name) {
		name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
		var regex = new RegExp('[\\?&]' + name + '=([^&#]*)'),
			results = regex.exec(location.search);
		return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
	}
	// 获取手机型号
	function getUAVersion(u){
	    var versions = {         //移动终端浏览器版本信息
	    	UA: u,
	    	bbs: /bz-bbs-(android|ios)/.test(u), // 播种网内核
	    	crazy: /bz-crazy-(android|ios)/.test(u), // 疯狂造人内核
	        trident: u.indexOf('Trident') > -1, //IE内核
	        presto: u.indexOf('Presto') > -1, //opera内核
	        webKit: u.indexOf('AppleWebKit') > -1, //苹果、谷歌内核
	        gecko: u.indexOf('Gecko') > -1 && u.indexOf('KHTML') == -1, //火狐内核
	        mobile: !!u.match(/AppleWebKit.*Mobile.*/), //是否为移动终端
	        ios: !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/), //ios终端
	        android: u.indexOf('Android') > -1 || u.indexOf('Linux') > -1, //android终端或uc浏览器
	        iPhone: u.indexOf('iPhone') > -1 , //是否为iPhone或者QQHD浏览器
	        iPad: u.indexOf('iPad') > -1, //是否iPad
	        webApp: u.indexOf('Safari') == -1 //是否web应该程序，没有头部与底部
	    };
	    var u_android = '';
	    if( versions.android ) {
	        u_android = versions.android ? u.match( /\([^)]*;[^)]*\)/ )[0].split('; ') : '';
	        u_android = u_android[u_android.length-1].match(/[^B]* /)[0];
	        u_android = u_android.substr(0, u_android.length-1);
	        if( u.indexOf('MiuiBrowser') > 0 ){ // 为红米做兼容
	            u_android = isNaN( Number(u_android) ) ? u_android : 'XiaoMi';
	        }
	    }
	    versions.basicModel = !versions.mobile ? "pc" : versions.iPad ? 'ipad' : versions.iPhone ? 'iphone' : versions.android ? 'android' : 'others';
	    // pc/ipad/iphone/android详细型号： 
	    versions.model = !versions.mobile ? "pc" : versions.iPad ? 'ipad' : versions.iPhone ? 'iphone' : versions.android ? !!u_android ? u_android : 'android' : 'android';
	    return versions;
	}
	var code = getParam('code');
	var state = getParam('state');
	var oauth = io(window.location.origin + '/oauth/wechat');
	var codeArr = [];
	var time = new Date().getTime();
	oauth.on('get', function(data){
		if( !!codeArr[data.code] ) return false;
		if( data.time != time ) return false;
		var result = '<br/>model: '+data.ua.model+'<br/>code: '+data.code+'<br/>state: '+data.state+'<br/>url: '+data.url;
		document.querySelector("#JS_params").innerHTML = document.querySelector("#JS_params").innerHTML+result+"<hr>";
		codeArr[data.code] = data;
	});
	
	if( !!code ){
		$('.hint').hide();
		var data = {
			code: getParam("code"),
			state: getParam("state"),
			url: window.location.href,
			ua: getUAVersion(navigator.userAgent),
			time: getParam('t')
		};
		var result = '<br/>model: '+data.ua.model+'<br/>code: '+data.code+'<br/>state: '+data.state+'<br/>url: '+data.url;
		document.querySelector("#JS_params").innerHTML = document.querySelector("#JS_params").innerHTML+result+"<hr>";
		oauth.emit("send", data);

	} else {
		$.ajax({
			url: '/api/wechat/ticket',
			type: 'get',
			data: {},
			success: function(data){
		        var u = window.location.href + '?t=' + time;
		        u = 'http://scdn.bozhong.com/source/wechat/redirect/office.html?redirect_uri=' + encodeURIComponent(u);
		        u = 'https://open.weixin.qq.com/connect/oauth2/authorize?appid=' + data.data.appid + '&redirect_uri=' + encodeURIComponent(u) + '&response_type=code&scope=snsapi_userinfo&state=123&connect_redirect=1#wechat_redirect';
		        console.log( u );
				$('img').attr('src', 'http://qr.liantu.com/api.php?text=' + encodeURIComponent(u) );
			}
		});
	}
</script>